* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

#card {
  border: 5px solid rgb(10, 122, 0);
  border-radius: 15px;
  background-color: rgb(10, 122, 0);
  width: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#card img {
  border-radius: 9px;
}

#card h1 {
  font-size: 25px;
  color: white;
}

#card h2 {
  font-size: 18px;
  color: white;
}

.card-container {
  width: 85%;
  background-color: rgb(255, 255, 255);
  display: grid;
  /* justify-content: space-around;
  flex-wrap: wrap; */
  grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
  gap: 50px;
  padding: 50px;
  /* gap: 20px; */
}

.logo {
  height: 40px;
}

.header{
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.35);
  padding: 0px 50px;
}

.option{
  display: flex;
  align-items: center;
  gap: 40px;
}

.option button{
  border: none;
  background-color: white;
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

#search{
  width: 32%;
  background-color: #e1e1e1;
  height: 38px;
  border: none;
  border-radius: 5px;
}