*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
}

#string{
    height: 300px;
    width: 100%;
}