*{
    margin: 0;
    padding: 0;
    border: 0px;
}

html{
    scroll-padding-top: 75px;
}

.container{
    height: 1000px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.head1{
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center
}

.brand{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
}

.list1{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigation{
    margin-right: 20px;
    display: flex;
}

a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.head2{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: rgb(179, 179, 179);
    position: sticky;
    top: 0;
    z-index: 1;
}

.search{
    width: 400px;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

.search-btn{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 30px;
}

.img1{
    width: 99vw;
    height: auto;
}

.movies-section{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#Movies-head{
    font-size: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.cards{
    background-color: rgb(232, 231, 231);
    width: 250px;
    border-radius: 10px;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 30px;
}

.cards:hover{
    background-color: rgb(255, 175, 175);
    transform: scale(1.05);
}

.movie-img{
    width: 250px;
    height: 350px;
    border-radius: 10px;
}

.movie-name{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px;
}

.genre{
    font-size: 15px;
    padding-left: 10px;
    padding: 0px 10px 5px 10px;
}


.events-section{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#events-head{
    font-size: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.event-img{
    width: 250px;
    height: 350px;
    border-radius: 10px;
}

.event-name{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px;
}

.venue{
    font-size: 15px;
    padding-left: 10px;
    padding: 0px 10px 5px 10px;
}

/* Mobile */
@media (max-width: 600px) {

    .head1{
        background-color: red;
        display: flex;
        padding-top: 10px;
        padding-bottom: 05px;
        flex-direction: column;
    }

    .brand{
    color: white;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    padding: 0px;
    }

    .list1{
        list-style: none;
        display: flex;
        padding: 5px;
        flex-direction: row;
    }

    .head2{
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: center;
        background-color: rgb(179, 179, 179);
        position: sticky;
        top: 0;
        z-index: 1;
    }

    a{
    color: rgb(255, 221, 221);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    }

    .search{
        width: 300px;
        height: 30px;
        border-radius: 10px;
        border: none;
        padding-left: 10px;
    }

    .search-btn{
        height: 30px;
        width: 75px;
        border-radius: 10px;
        border: none;
        background-color: red;
        color: white;
        font-weight: bold;
        font-size: 10px;
        margin-left: 20px;
    }

    .img1{
        width: 100vw;
        height: auto;
    }


    .movies-section{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    #Movies-head{
        font-size: 15px;
        margin-left: 30px;
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

    }

    .cards{
        background-color: rgb(232, 231, 231);
        width: 200px;
        border-radius: 10px;
        flex-direction: row;
        cursor: pointer;
        margin-bottom: 30px;
    }

    .movie-img{
        width: 200px;
        height: 300px;
        border-radius: 10px;
    }

    .event-img{
        width: 200px;
        height: 300px;
        border-radius: 10px;
    }

    .events-section{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    #events-head{
        font-size: 20px;
        margin-left: 30px;
        margin-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

    }

    .event-img{
        width: 200px;
        height: 300px;
        border-radius: 10px;
    }
}


/* tablet */
@media(min-width: 601px) and (max-width: 1050px){
    .movies-section{
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #Movies-head{
        font-size: 20px;
        margin-left: 80px;
        margin-top: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

    }

    .cards{
        background-color: rgb(232, 231, 231);
        width: 225px;
        border-radius: 10px;
        flex-direction: row;
        cursor: pointer;
        margin-bottom: 30px;
    }

    .movie-img{
        width: 225px;
        height: 325px;
        border-radius: 10px;
    }

    .events-section{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    #events-head{
        font-size: 25px;
        margin-left: 80px;
        margin-top: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

    }

    .event-img{
        width: 225px;
        height: 325px;
        border-radius: 10px;
    }
}