h1{
    background-color: blue;
    margin-bottom: 60px;
}

ul{
    background-color: pink;
}

.first {
    background-color: yellow;
    border-style: solid;
    border-width: 2px;
    border-color: brown;
    padding: 20px;
}

.second {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background-color: green;
}