* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe9e9;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #ffffff;
    align-items: center;
    /* border: 10px solid black; */
    box-shadow: 0px 0px 20px 10px #00000024;
    border-radius: 10px;
    gap: 20px;
}

.btns{
    display: flex;
    gap: 40px;
}

.btns button {
    padding: 15px;
    border-radius: 7px;
    /* border: none; */
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}

.red {
    background-color: #ff0000;
    color: #ffffff;
}

.blue {
    background-color: #0700c4;
    color: #ffffff;
}

.green {
    background-color: #08aa00;
    color: #ffffff;
}

.black {
    background-color: #000000;
    color: #ffffff;
}

.white {
    background-color: #ffffff;
    color: #000000;
}