* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  display: flex;
  justify-content: center;
  background-color: rgb(244, 255, 237);
}

#card {
  border: 2px solid rgb(34, 158, 0);
  border-radius: 10px;
  background-color: white;
  width: 152px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#card img {
  border-radius: 9px;
}

#card h1 {
  font-size: 25px;
}

#card h2 {
  font-size: 18px;
}

.card-container {
  width: 75%;
  background-color: rgb(244, 255, 237);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px 100px 20px 100px;
  /* gap: 20px; */
}