* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #222222;
    overflow-x: hidden;
}

#Page1,
#page2,
#page3 {
    height: 100%;
    width: 100%;
}

h1 {
    color: white;
    font-size: 3rem;
}

svg {
    height: 100px;
    width: 100px;
    fill: white;
}

#move {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    flex-shrink: 0;
}

#mover-container {
    display: flex;
    align-items: center;
    background-color: brown;
    gap: 1rem;
}