* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #222222;
}

.page1,
.page2,
.page3 {
    height: 100vh;
    width: 100%;
    padding: 5vw 0;
}

.move {
    background-color: brown;
    display: flex;
    padding: 3vw 0;
    gap: 5vw;
    overflow: hidden;
}

.marquee {
    display: flex;
    align-items: center;
    gap: 1vw;
    transform: translateX(-100%);
    flex-shrink: 0;
}

h1 {
    color: white;
    font-size: 3rem;
}

svg {
    height: 100px;
    width: 100px;
    fill: white;
}