*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(219, 255, 209);
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.box{
    background-color: rgb(40, 161, 0);
    border: 0.5rem solid black;
    font-size: 2rem;
    text-align: center;
}

.header{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
}

.footer{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
}

.sidebar{
    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-row: 2/4;
}

.content1{
    grid-column: 2/4;
}