*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    display: flex;
}

#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
}

#image{
    height: 300px;
    width: 600px;
    background-color: brown;
}