* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#main {
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg);
    background-size: cover;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.logo {
    color: white;
    font-size: 2rem;
}

#menu, #close{
    cursor: pointer;
}

.links{
    position: absolute;
    top: 0;
    right: -30vw;
    height: 100vh;
    width: 30vw;
    background-color: rgba(181, 229, 165, 0.181);
    backdrop-filter: blur(10px);
    padding-top: 4rem;
    padding-left: 3rem;
    z-index: 0;
}

.nav-links{
    color: white;
    font-size: 4rem;
    padding: 1rem;
}

#close{
    position: absolute;
    top: 15px;
    right: 90px;
    z-index: 1;
}